<div class="menus flex">
    <div class="image-container flex flex-center">
        <img src="assets/images/spotify-logo.png" alt="Spotify Logo">
    </div>

    <div class="menu-container flex options">
        <app-menu-button [description]="'Home'" [active]="activeMenu === 'Home'" (click)="buttonClick('Home')">
            <fa-icon [icon]="homeIcon"></fa-icon>
        </app-menu-button>
        <app-menu-button [description]="'Pesquisar'" [active]="activeMenu === 'Pesquisar'"  (click)="buttonClick('Pesquisar')">
            <fa-icon [icon]="homeSearch"></fa-icon>
        </app-menu-button>
        <app-menu-button [description]="'Artistas'" [active]="activeMenu === 'Artistas'"  (click)="buttonClick('Artistas')">
            <fa-icon [icon]="homeArtists"></fa-icon>
        </app-menu-button>
    </div>

    <div class="menu-container flex">
        <span class="playlist-title">PLAYLISTS</span>
    
        <div class="playlist-scroll">
            <app-menu-button 
                *ngFor="let pl of userPlaylists"
                [description]="pl.name" 
                [active]="activeMenu === pl.id" 
                (click)="playlistClick(pl.id)"
            >
                <fa-icon [icon]="playlist"></fa-icon>
            </app-menu-button>
        </div>
    </div>

</div>
<div class="user-info">
    <app-user-footer></app-user-footer>
</div>